.slider {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px); 
  }
  
  .imageContainer {
    flex: 1;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .imageContainer2 {
    flex: 1;
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .imageWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .info {
    display: none;
  }

  @media (max-width: 768px) {
    .slider {
      flex-direction: column;
      position: relative;
      height: calc(100vh - 45px); 
    }
    .imageContainer2 {
        display: none;
    }
    .info {
        display: flex;
        position: absolute;
        bottom: 100px;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .collection_title {
        font-size: 44px;
        color: #ffffff;
        font-weight: 500;
        text-align: center;
        margin-bottom: 30px;
    }
    .collection_text {
        color: #ffffff;
        font-size: 15px;
        border: 1px solid #ffffff;
        padding: 10px;
        text-align: center;
    }
  }
  