.page {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}
  
.main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.resetPassword_container {
    width: 502px;
    height: 433px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 3px;
    border: 1px solid #000;
}
  
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 320px;
    color: #fff;
}
  
.label {
    font-size: 16px;
    text-align: center;
    color: #000;
}
  
.input {
    width: 320px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 6px;
    outline: none;
    background-color: #fff;
    padding: 0 8px;
    font-size: 16px;
}
  
.checkboxContainer {
    display: flex;
    align-items: center;
}
  
.button {
    width: 320px;
    height: 50px;
    background-color: #000;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.button:hover{
    background-color: #fff;
    color: #000;
}

@media screen and (max-width: 600px) {
    .resetPassword_container{
        width: auto;
    }
}

@media screen and (max-width: 400px) {
    .resetPassword_container{
        width: auto;
    }
    .input{
        width: 270px;
    }

    .button{
        width: 270px;
    }
}