.categories {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: sticky;
    top: 10px;
    z-index: 10;

}

.category_item {
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 0.3s;
}

.category_item:hover {
    color: #6e6e6e99;
}

.search {
    width: 200px;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
}

@media (max-width: 768px) {
    .categories {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        max-width: none;
        flex-direction: row;
        column-gap: 15px;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .category_item {
        width: max-content;
    }
}